experiments/
!*/Q_model_trained.pth

__pycache__/


results/
results_*/

*.tgz

CopyrightReceipt.pdf
demo.py
VOC2012
nohup.out

.vscode/launch.json
res/*
res/figure_1*
nohup_fjh.out
finalmodel/*

nohup*
tools/For_vis*
COCO*
data/*
