absl-py==0.12.0
addict==2.4.0
albumentations==1.0.3
anykeystore==0.2
apex==0.1
astor==0.8.1
autopep8==1.5.7
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
cached-property==1.5.2
cachetools==4.2.1
certifi==2021.5.30
chainer==7.7.0
chainercv==0.13.1
chardet==4.0.0
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama==0.4.4
commonmark==0.9.1
Connectivity==0.0.0
contextlib2==21.6.0
cryptacular==1.5.5
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1614014843172/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1615055117017/work
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
defusedxml==0.7.1
docopt==0.6.2
easydict==1.9
filelock==3.0.12
flake8==3.9.0
future==0.18.2
fvcore==0.1.5.post20211023
gast==0.5.2
google-auth==1.29.0
google-auth-oauthlib==0.4.4
graphviz==0.8.4
greenlet==1.1.0
grpcio==1.37.0
h5py==3.1.0
hupper==1.10.3
hyperopt==0.1.2
idna==2.10
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imgviz==1.3.0
importlib-metadata==3.10.1
iopath==0.1.9
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi==0.17.0
joblib==1.0.1
json-tricks==3.15.5
jsonpatch==1.32
jsonpointer==2.1
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213308682/work
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282412546/work
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mccabe==0.6.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mxnet==1.8.0.post0
networkx==2.3
ninja==1.10.2
nni==2.4
nose==1.3.7
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603487797006/work
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.6
opencv-python==4.5.1.48
opencv-python-headless==4.5.3.56
pandas==1.1.5
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
PasteDeploy==2.1.1
pbkdf2==1.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///tmp/build/80754af9/pillow_1615224027575/work
pipreqs==0.4.11
plaster==1.0
plaster-pastedeploy==0.7
ply==3.11
portalocker==2.3.2
prettytable==2.2.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
protobuf==3.15.6
psutil==5.8.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.7.0
pydensecrf==1.0rc3
pyflakes==2.3.1
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
pymongo==3.12.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyramid==2.0
pyramid-mailer==0.15.1
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python3-openid==3.2.0
PythonWebHDFS==0.2.3
pytz==2021.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658315997/work
PyYAML==5.4.1
pyzmq==22.0.3
repoze.sendmail==4.4.1
requests==2.25.1
requests-oauthlib==1.3.0
resnest==0.0.5
responses==0.13.4
rfconv==0.0.2b20210406
rich==10.6.0
rsa==4.7.2
schema==0.7.4
scikit-image==0.17.2
scikit-learn==0.24.2
scipy @ file:///tmp/build/80754af9/scipy_1597686625380/work
seaborn==0.11.2
simplejson==3.17.5
six @ file:///tmp/build/80754af9/six_1605205335545/work
sklearn==0.0
smop==0.41
SQLAlchemy==1.4.15
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.10.1
toml==0.10.2
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
torch==1.8.0+cu111
torch-tb-profiler==0.2.1
torchaudio==0.8.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.9.0+cu111
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traitlets==4.3.3
transaction==3.0.1
translationstring==1.4
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.4
velruse==1.1.1
venusian==3.0.0
visdom==0.1.8.9
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
WebOb==1.8.7
websocket-client==0.59.0
websockets==9.1
Werkzeug==1.0.1
WTForms==2.3.3
wtforms-recaptcha==0.3.2
yacs==0.1.8
yapf==0.31.0
yarg==0.1.9
zipp==3.4.1
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.4
